In [20]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import random
iris = load_iris()
data = pd.DataFrame(iris.data)
data.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
target = pd.DataFrame(iris.target)
target = target.rename(columns = {0: 'target'})
df = pd.concat([data, target], axis = 1)

In [21]:
lengthMf = df.groupby('sepal_length')['target'].agg(lambda x: x.value_counts().idxmax()).T
lengthF = df.groupby('sepal_length')['target'].agg(lambda x: x.value_counts().max()).T
lengthFreq = pd.concat([lengthF.rename('frequency'),lengthMf.rename('most_frequent')], axis=1)

widthMf = df.groupby('sepal_width')['target'].agg(lambda x: x.value_counts().idxmax()).T
widthF = df.groupby('sepal_width')['target'].agg(lambda x: x.value_counts().max()).T
widthFreq = pd.concat([lengthF.rename('frequency'),lengthMf.rename('most_frequent')], axis=1)

# Display the final result
lengthFreq.head()

              frequency  most_frequent
sepal_length
4.3                   1              0
4.4                   3              0
4.5                   1              0
4.6                   4              0
4.7                   2              0

In [22]:
widthFreq.head()

              frequency  most_frequent
sepal_length
4.3                   1              0
4.4                   3              0
4.5                   1              0
4.6                   4              0
4.7                   2              0

In [24]:
M = pd.DataFrame(index=df['sepal_length'].unique(), columns=df['sepal_width'].unique())

for i in M.index:
	for j in M.columns:
		lmf = lengthMf.loc[i].astype(int)
		wmf = widthMf.loc[j].astype(int)
		lf = lengthF.loc[i].astype(int)
		wf = widthF.loc[j].astype(int)
		if lmf != wmf:
			M.loc[i,j]=max(lmf,wmf)
		elif lf == wf:
			M.loc[i,j]=random.choice([lmf, wmf])
		elif lf < wf:
			M.loc[i,j]=wmf
		else:
			M.loc[i,j]=lmf

M.head()

,3.5,3.0,3.2,3.1,3.6,3.9,3.4,2.9,3.7,4.0,...,4.1,4.2,2.3,2.8,2.4,2.7,2.0,2.2,2.5,2.6
5.1,0,2,0,0,0,0,0,1,0,0,...,0,0,1,2,1,1,1,1,1,1
4.9,0,2,0,0,0,0,0,1,0,0,...,0,0,1,2,1,1,1,1,1,1
4.7,0,2,0,0,0,0,0,1,0,0,...,0,0,1,2,1,1,1,1,1,1
4.6,0,2,0,0,0,0,0,1,0,0,...,0,0,1,2,1,1,1,1,1,1
5.0,0,2,0,0,0,0,0,1,0,0,...,0,0,1,2,1,1,1,1,1,1

In [26]:
correct = 0
for sample in df.values:
	l = sample[0]
	w = sample[1]
	if M.loc[l,w] == sample[4]:
		correct+=1
print(f'Score:{correct/M.size}')

Score:0.13167701863354037